{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

{% include "roster/roster_subnav.html" %}

<h3>{{ title }}</h3>

<p>In some cases, committee jobs are split between more than one person. <br />
See the <a href="{% url roster_board %}">Board Roster</a> to see who currently occupies the "Reports To" positions.</p>

<table border="1">
    <tr class="row3">
        <td><strong>JOB</strong></td>
        <td><strong>ASSIGNED TO</strong></td>
        <td><strong>REPORTS TO</strong></td>
    </tr>
    
{% for pos in roster %}   
    <tr class="{% cycle 'row1' 'row2' %}">
    <td><strong><a href="{% url roster_jobs_detail pos.id %}">{{ pos }}</a></strong></td>
  
    <td>
    {% for parent in pos.profile_set.all %}
    {% if parent.user.is_active %}
        <a href="{% url profiles_profile_detail parent.user %}">{{ parent.user.first_name }} {{ parent.user.last_name }}</a><br />
    {% endif %}
    {% empty %}
        Not assigned
    {% endfor %}
    </td>

    <td><strong>{{ pos.reports_to }}</strong></td>  
    </tr>

{% endfor %}
</table>

<p>This table only shows currently occupied jobs. See also the <a href="{% url roster_jobs_all %}">Complete Jobs Listing</a>.
</p>
{% endblock content %}

