{% extends "base.html" %}
{% load thumbnail %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

{% include "roster/roster_subnav.html" %}


<h3>Parents {{ cur_year }}</h3> 
<div id="navswitch">View as <a href="{% url roster_parents_list %}">list</a></div>



<style type="text/css" media="screen">
	td {
		width:25%;
		text-align:center;
		padding-bottom:30px;
	}

</style>

<table>
<tr>
{% for person in roster %}

        <td>
	    {% if person.avatar %}
	
				<a href="{% url profiles_profile_detail person.user %}" title="{{ person }}"><img src="{% thumbnail person.avatar 75x75%}" alt="{{person}}'s avatar image" /> <br />{{person}}</a>
	
	    {% else %}
			<a href="{% url profiles_profile_detail person.user %}"><img src="{{STATIC_URL}}images/user_default.jpg" width="75" height="75" alt="{{person}}'s avatar image" /> <br />{{person}}</a><br />
	    {% endif %}

        </td>
	{% if forloop.counter|divisibleby:4 and not forloop.last %}</tr><tr>{% endif %}

{% endfor %}
</tr>
</table>

{% endblock content %}