{% extends "base.html" %}

{% block title %}Family Roster{% endblock %}

{% block content %}

{% include "roster/roster_subnav.html" %}

<h3>Board Roster</h3>

<p>In some cases, board positions are split between more than one person.</p>

<p>See also: <a href="/docs/board/">Board Documents</a></p>

<table border="1">
{% for pos in roster %}   
    <tr class="{% cycle 'row1' 'row2' %}">
    <td><strong>{{ pos }}</strong></td>
    <td>
    {% for parent in pos.profile_set.all %}
        {% if parent.user.is_active %}
            <a href="{% url profiles_profile_detail parent.user %}">{{ parent.user.first_name }} {{ parent.user.last_name }}</a><br />            
        {% endif %}
    {% empty %}
        Not assigned
    {% endfor %}
    </td>
    </tr>

{% endfor %}
</table>


{% endblock content %}

