{% extends "base.html" %}

{% block title %}{{ job }}{% endblock %}

{% block content %}

{% include "roster/roster_subnav.html" %}

<h3>{{ job }}</h3>

<p><strong>Currently held by:</strong> 
{% for p in job.profile_set.all  %}
    <a href="{% url profiles_profile_detail p.user.username %}">{{p}}</a>{% if not forloop.last %};{% endif %}
{% endfor %}
</p>

<p><strong>Reports to:</strong> {{job.reports_to}} </p>

{% if job.description %}
    {{job.description|linebreaks}}

{% else %}
    <p>Description not yet available</p>
{% endif %}

{% if request.user.is_superuser %}
	You have permission to <a href="{% url admin:itaco_committeejob_change job.id %}">edit this description</a>.
{% endif %}

{% endblock content %}

