{% extends "base.html" %}

{% block title %}Participating Parents Roster{% endblock %}

{% block content %}

{% include "roster/roster_subnav.html" %}

<h3>Participating Parents</h3>

<table border="1">
{% for parent in roster %}   
    <tr class="{% cycle 'row1' 'row2' %}">
    <td><strong><a href="{% url profiles_profile_detail parent.user %}">{{ parent }}</a></strong></td>
    <td>
    <a href="mailto:{{ parent.user.email }}">{{ parent.user.email }}</a>
    </td>
    </tr>

{% endfor %}
</table>

{% endblock content %}

