<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>Crestmont Roster {{ cur_year }}</title>

    
	<style type="text/css" media="all">

    body {
        font-family: Verdana;
        font-size: 12px;
    }

    h1 {
        font-size: 16px;
    }
    
    h2 {
        margin-top:0px;
        margin-bottom:0px;    
        font-size:14px;    
    }


    table {
        width: 800px;
        border-collapse: collapse;
    }

	table.innertable {
		width:400px;
	}
	table.innertable tr td {
		border:none;
		width:30%;

	}

    td {
/*        width:50%;*/
        border:1px solid #C7C7C7;
        border-collapse: collapse;        

    }

    td.withborder {
/*        border-top: 1px solid #919191;*/
        padding-top:0px;
        padding-bottom:0px;        
    }
    
    td.col3 {
        width:33%;
    }
    
	tr.even {
		background-color:#F4F4F4;
	}
	
	.famtable tr td {
		width:50%;
	}

	.stafftable tr td {
		width:33%;
	}

    
    .shade, th {
        background-color:#E4E4E4;
        text-align:left;
    }

	.major {
		font-size:1.2em;
	}



	#container {
		width:900px;
	}
	
	.famdiv {
		border:1px solid gray;
		width:370px;
		float:left;
		margin-right:50px;
		margin-bottom:15px;
	}
	
	.famtitle {
		background-color:#D3D3D3;
		margin:0px;
		padding:3px 3px 3px 10px;
		font-weight:bold;
		font-size:1.1em;
	}
	
	.leftpad {
		padding-left:10px;
	}
	

	</style>
	
</head>

<body>



<h1>Crestmont Roster {{ cur_year }}<br />
6226 Arlington Blvd., Richmond, CA 94805 </h1>
<p>Current as of {% now "F jS, Y" %}</p>
<br />


{# Begin staff roster #}

<table border="1" cellspacing="3" cellpadding="3" class="stafftable">
    <tr class="shade"><td colspan="3"><h2>Teachers</h2></td></tr>
    {% for staffer in roster_teach.roster  %}
    <tr class="{% cycle 'odd' 'even' %}">
        <td><strong>{{ staffer.title }}</strong></td>
        <td><strong>{{ staffer.user.first_name }} {{ staffer.user.last_name }}</strong></td>   
        <td><strong>
		{% if staffer.phone_mobile %}
			{{ staffer.phone_mobile }}
		{% else %}
			{{ staffer.phone_home }}		
		{% endif %}
		</strong></td>        
    </tr>
    {% endfor %}
     
</table>

<br />
<br />


<table border="1" cellspacing="3" cellpadding="3" class="stafftable">

    <tr  class="shade"><td colspan="3"><h2>Aides</h2></td></tr>
    {% for staffer in roster_teach.aides  %}
    <tr class="{% cycle 'odd' 'even' %}">
        <td><strong>{{ staffer.title }}</strong></td>
        <td><strong>{{ staffer.user.first_name }} {{ staffer.user.last_name }}</strong></td>        
        <td><strong>{{ staffer.phone_home }}</strong></td>
    </tr>
    {% endfor %}    
    
</table>

{# End staff roster #}

<br />
<br />




{# Begin board roster #}

<table border="1" cellspacing="5" cellpadding="5">
    <tr class="shade"><td colspan="2"><h2>Board of Directors</h2></td></tr>
    {% for b in roster_brd.roster  %}
    <tr class="{% cycle 'odd' 'even' %}">
        <td valign="top"><strong>{{ b.title }}</strong></td>
        <td>
			<table class="innertable">

            {% for parent in b.profile_set.all %}
                {% if parent.user.is_active %}
				<tr>
                    <td><strong>{{ parent.user.first_name }} {{ parent.user.last_name }}</strong></td> 
					<td><strong>
						{% if parent.phone_mobile %}
							{{ parent.phone_mobile }}
						{% else %}
							{{ parent.phone_home }}		
						{% endif %}
					</strong></td>
				</tr>
                {% endif %}
            {% empty %}
                Not assigned
            {% endfor %}            
			</table>
        </td>        
    </tr>
    {% endfor %}
 
    <tr>
        <td valign="top"><strong>Bookkeeper</strong></td>
        <td><strong>
            Richard Snow <br />
            862 Sir Francis Drake #135 <br />
            San Anselmo, CA 94960
        </strong></td>        
    </tr>
    
</table>

{# End board roster #}




<br />
<br />
<div style="page-break-after:always"></div>


{# Begin students #}

<table border="1" cellspacing="5" cellpadding="5" class="3col">
    <tr class="shade"><td colspan="3"><h2>Students</h2></td></tr>

    <tr>
      <td valign="top" class="col3">
          <strong>Kindergarten</strong><br />
          {% for s in roster_kind.roster  %}
            {{ s.first_name }} {{ s.last_name }}<br />
          {% endfor %}
      </td>

      <td valign="top" class="col3">
          <strong>1st Grade</strong><br />
          {% for s in roster_1.roster  %}
            {{ s.first_name }} {{ s.last_name }}<br />
          {% endfor %}
      </td>
            
      <td valign="top" class="col3">
          <strong>2nd Grade</strong><br />
          {% for s in roster_2.roster  %}
            {{ s.first_name }} {{ s.last_name }}<br />
          {% endfor %}
      </td> 
      
         
    </tr>
    
    
    <tr>

      
      <td valign="top" class="col3">
          <strong>3rd Grade</strong><br />
          {% for s in roster_3.roster  %}
            {{ s.first_name }} {{ s.last_name }}<br />
          {% endfor %}
      </td> 
      
      <td valign="top" class="col3">
          <strong>4th Grade</strong><br />
          {% for s in roster_4.roster  %}
            {{ s.first_name }} {{ s.last_name }}<br />
          {% endfor %}
      </td>
            
      <td valign="top" class="col3">
          <strong>5th Grade</strong><br />
          {% for s in roster_5.roster  %}
            {{ s.first_name }} {{ s.last_name }}<br />
          {% endfor %}
      </td>           
    </tr>    

</table>

{# End students #}

<br />
<br />

<div style="page-break-before:always"></div>

{# Begin family roster #}

<table  cellspacing="3" cellpadding="3" style="margin-bottom:15px;">
	<tr class="shade"><td colspan="2"><h2>Families</h2></td></tr>
</table>

<div id="container">
{% for fam in roster_fam.roster %}

		<div class="famdiv">		
		<div class="famtitle">{{fam}}</div>
		
		{% for parent in fam.profile_set.all %}
			
         <p class="leftpad">
             <strong>{{ parent.user.first_name }} {{ parent.user.last_name }}<br />
             {% for pos in parent.board_pos.all %}
                Board position: {{ pos.title }}<br />
             {% endfor %}
             </strong>

             {% if parent.user.email %}
             {{ parent.user.email }}<br />
             {% endif %}  

             {% if parent.email_2 %}
             {{ parent.email_2 }} (alt.)<br />
             {% endif %}      

             {% if parent.phone_home %}
             Home: {{ parent.phone_home }}<br />
             {% endif %} 

             {% if parent.phone_work %}
             Work: {{ parent.phone_work }}<br />
             {% endif %}

             {% if parent.phone_mobile %}
             Mobile: {{ parent.phone_mobile }}<br />
             {% endif %} 

             {% if parent.phone_fax %}
             Fax: {{ parent.phone_fax }}<br />
             {% endif %}   

			{# To avoid duplication of street addresses for most families, just print street address once. #}
			{# UNLESS the multiple_residence checkbox is enabled for the family #}
			{% if fam.multiple_residence %}
	            {% if parent.address1 %}
	            {{ parent.address1 }},
	            {% endif %}

	            {% if parent.address2 %}
	            {{ parent.address2 }},
	            {% endif %}

	            {% if parent.city %}
	            {{ parent.city }},
	            {% endif %}

	            {% if parent.state %}
	            {{ parent.state }},
	            {% endif %}

	            {% if parent.zip %}
	            {{ parent.zip }}<br />
	            {% endif %}					
			{% endif %}

         </p>

			{# To avoid duplication of street addresses for most families, just print street address once. #}
			{# UNLESS the multiple_residence checkbox is enabled for the family #}
			{% if not fam.multiple_residence %}			           
	           {% if forloop.last %}
	            <p class="leftpad">
	            <strong>Street Address</strong><br />
          
	            {% if parent.address1 %}
	            {{ parent.address1 }}<br />
	            {% endif %}

	            {% if parent.address2 %}
	            {{ parent.address2 }}<br />
	            {% endif %}

	            {% if parent.city %}
	            {{ parent.city }},
	            {% endif %}

	            {% if parent.state %}
	            {{ parent.state }},
	            {% endif %}

	            {% if parent.zip %}
	            {{ parent.zip }}<br />
	            {% endif %}
	            </p>
	           {% endif %}

			{% endif %}

         {% endfor %}

         {% for student in fam.student_set.all %}
         <p class="leftpad">
             <strong>{{ student.first_name }} {{ student.last_name }}</strong><br />
             {{ student.expected_grad_yr.get_grad_class_display }}<br />

             {% if student.birthdate %}
             Born: {{ student.birthdate|date:"M d, Y" }}
             {% endif %}
             {% if student.email %}
             {{ student.email }}<br />
             {% endif %}  
         </p>
         {% endfor %}
		</div>

		{# Show families two-up #}
		{% if forloop.counter|divisibleby:2  %} 
			<div style="clear:both;"></div>
		{% endif %}

		{# We can safely fit 6 divs onto a page #}
		{% if forloop.counter|divisibleby:6  %} 
			<div style="page-break-after:always"></div>
		{% endif %}
		



{% endfor %}
</div>
{# End family roster #}


</body>
</html>
