<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>Sign-in roster</title>
	
</head>

<body>

<style type="text/css" media="screen,print">
	table, th, tr, td {
		border: 1px solid #999;
		border-collapse:collapse;
		padding:3px;
		font-family:Verdana;
		font-size:0.8em;
	}
	
	th {
		background-color:#E2E2E2;
	}
</style>

<h3>Crestmont sign-in sheet</h3>

<p>Please circle the best contact phone number for today.</p>

<table>
	<th>
		Child
	</th>

	<th>
		Mobile 1
	</th>

	<th>
		Mobile 2
	</th>

	<th>
		Home
	</th>

	<th>
		Work 1
	</th>

	<th>
		Work 2
	</th>
	
	<th>
		Arrive (time)
	</th>	

	<th>
		Leave (time)
	</th>	


	{% for s in students %}
	<tr>
		<td>
			{{s.student}}
		</td>

		<td>
			{% if s.primary %}
			{{s.primary.phone_mobile}}	
			{% endif %}
		</td>

		<td>
			{% if s.secondary %}
			{{s.secondary.0.phone_mobile}}	
			{% endif %}
		</td>

		<td>
			{{s.primary.phone_home}}	
		</td>

		<td>
			{{s.primary.phone_work}}	
		</td>

		<td>
			{{s.secondary.0.phone_work}}	
		</td>

		<td>
			&nbsp;
		</td>	

		<td>
			&nbsp;
		</td>
	</tr>
	{% endfor %}
</table>

</body>
</html>
