{% extends "base.html" %}

{% block title %}Batch-add Participation Credits{% endblock %}

{% block content %}

<h3>Batch-add Participation Credits</h3>

<p>This tool is for adding <strong>Standard Participation Credits</strong> in batches. <br />
    All credits will be added for the date at the top of the form.<br>
	 To add or edit other types of charges, see the Tools menu above. </p>

<form action="" method="post" accept-charset="utf-8">
	{% csrf_token %}
    {{ formset.management_form }}
    
	<table>
	    <tr>
	        <th>
	            <label for="the_date">Date:</label>
	        </th>
	        <td>
	            <input type="text" name="the_date" value="{% now "Y-m-j" %}" id="the_date">
	        </td>
	    </tr>
		<tr>
		  <td colspan="2">&nbsp;  </td>
		</tr>	    
        {% for form in formset.forms  %}
            {{ form }}
    		<tr>
    		  <td colspan="2">&nbsp;  </td>
    		</tr>
        {% endfor %}
	</table>

<p><input type="submit" value="Submit"></p>
</form>


{% endblock content %}