
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Crestmont School server error</title>
		
	</head>
<body>
<style type="text/css" media="screen">
	body {
		background-color:white;
	}
</style>

<div id="main">

    
    <p style="margin-top:30px;"><img src="/static/images/oops.jpg" width="600" alt="Oops"></p>

    <h3 style="margin-top:30px;">Something's gone wrong, and the webmaster has been notified. <br />
        Please use the Back button in your browser or <a href="/">return to our homepage</a>.<br />
        Sorry about this - we'll get it fixed soon.
        </h3>    
</div>
	
</body>
</html>


