<h3>Summary for
{% if period_period %}
   billing period {{ period.start|date:"M dS Y" }} - {{ period.end|date:"M dS Y" }}
{% else %}
    {{ period_string }}
{% endif %}
</h3>


<p><strong>Legend:</strong><br />

 <strong>&#x2318;</strong> = Credit or charge has attached note; hover mouse to view.<br />
 Regular daycare Charges: hourly @ ${{ daycare_hourly_rate|floatformat:2 }}/hr with financial aid factor of {{ family.fa_factor }}
 </p>

{% ifnotequal total_charge_dollars 0 %}
<h3>Charges</h3>
<table>
    <tr><td><strong>Date</strong></td><td><strong>Type</strong></td><td align="right"><strong>Hours</strong></td><td align="right"><strong>Charged</strong></td></tr>

    {% for charge in charges %}
    <tr class="{% cycle 'row1' 'row2' %}">
        <td>{{ charge.date }}</td>
        <td>{{ charge.get_type_display }}{% if charge.note %} <a href="#" class="normalTip" title="{{ charge.note }}">&#x2318;</a>{% endif %}</td>
        <td align="right">{{ charge.amount|floatformat:2 }}</td>
        <td align="right">${{ charge.charged_amount|floatformat:2 }}</td>
    </tr>
    {% endfor %}

    <tr class="row3">
        <td><strong>Total  charges:</strong></td>
        <td>&nbsp;</td>
        <td align="right"><strong>{{ total_charge_hours|floatformat:2 }}</strong></td>
        <td align="right"><strong>${{ total_charge_dollars|floatformat:2 }}</strong></td>
    </tr>

</table>
{% endifnotequal %}



{% ifnotequal total_credits 0 %}
<h3>Credits</h3>
<table>
    <tr><td><strong>Date</strong></td><td><strong>Type</strong></td><td align="right"><strong>Hours/Units/Amt</strong></td><td align="right"><strong>Amount</strong></td></tr>

    {% for credit in credits %}
    <tr class="{% cycle 'row1' 'row2' %}">
        <td>{{ credit.date }}</td> <td>{{ credit.get_type_display }}{% if credit.note %} <a href="#" class="normalTip" title="{{ credit.note }}">&#x2318;</a>{% endif %} </td>
        <td  align="right">{{ credit.amount|floatformat:2 }}</td>
        <td  align="right">{{ credit.charged_amount|floatformat:2 }}</td>
    </tr>
    {% endfor %}

   <tr class="row3"><td colspan="3"><strong>Total credits:</strong></td>  <td align="right"><strong>{{ total_credits|floatformat:2 }}</strong></td></tr>
</table>
{% endifnotequal %}


{% ifnotequal board_credit 0 %}
    <h3>Board Position Credits</h3>
    <p>The following credits will be applied at the end of the current billing cycle:</p>

    <p>
        {{ board_string|safe }}
        Total credit for board positions (to be applied at end of month): <strong>${{ board_credit }}</strong>.
    </p>
{% endifnotequal %}


{% ifnotequal total_obligation_hours 0 %}
<h3>Annual Obligations (Hours)</h3>
<table>
    <tr><td><strong>Date</strong></td><td><strong>Type</strong></td><td align="right"><strong>Amount</strong></td></tr>

    {% for obligation in obl_hr_list %}
    <tr class="{% cycle 'row1' 'row2' %}">
        <td>{{ obligation.date }}</td> <td>{% if obligation.note %} <a href="#" class="normalTip" title="{{ obligation.note }}">&#x2318;</a>{% endif %} {{ obligation.get_type_display }}</td> <td align="right">{{ obligation.amount|floatformat:2 }}</td>
    </tr>
    {% endfor %}

    <tr class="row3"><td><strong>Total obligation hours:</strong></td> <td>&nbsp;</td> <td align="right"><strong>{{ total_obligation_hours|floatformat:2 }}</strong></td></tr>
</table>
{% endifnotequal %}


{% ifnotequal total_obligation_dollars 0 %}
<h3>Annual Obligations (Dollars)</h3>
<table>
    <tr><td><strong>Date</strong></td><td><strong>Type</strong></td><td align="right"><strong>Amount</strong></td></tr>

    {% for obligation in obl_dl_list %}
    <tr class="{% cycle 'row1' 'row2' %}">
        <td>{{ obligation.date }}</td> <td>{% if obligation.note %} <a href="#" class="normalTip" title="{{ obligation.note }}">&#x2318;</a>{% endif %} {{ obligation.get_type_display }}</td> <td align="right">{{ obligation.amount|floatformat:2 }}</td>
    </tr>
    {% endfor %}

    <tr class="row3"><td><strong>Total obligation dollars:</strong></td><td>&nbsp;</td> <td align="right"><strong>{{ total_obligation_dollars|floatformat:2 }}</strong></td></tr>
</table>
{% endifnotequal %}


{% ifnotequal total_obligation_units 0 %}
<h3>Annual Obligations (Units)</h3>
<table>
    <tr><td><strong>Date</strong></td><td><strong>Type</strong></td><td align="right"><strong>Amount</strong></td></tr>

    {% for obligation in obl_ut_list %}
    <tr class="{% cycle 'row1' 'row2' %}">
        <td>{{ obligation.date }}</td> <td>{% if obligation.note %} <a href="#" class="normalTip" title="{{ obligation.note }}">&#x2318;</a>{% endif %} {{ obligation.get_type_display }}</td> <td align="right">{{ obligation.amount|floatformat:2 }}</td>
    </tr>
    {% endfor %}

    <tr class="row3"><td><strong>Total obligation units:</strong></td> <td>&nbsp;</td> <td align="right"><strong>{{ total_obligation_units|floatformat:2 }}</strong></td></tr>
</table>
{% endifnotequal %}
