{% extends "base.html" %}
{% load charts %}

{% block title %}Family Details{% endblock %}

{% block content %}

{% include "roster_subnav.html" %}

<h2>Family: {{ family.name }}</h2>
{% ifequal canview_charges 1 %}
<a href="{% url family_detail family.id %}">View charges and credits</a>
{% endifequal %}

<table border="0" cellspacing="0" cellpadding="20">

   <tr>
       <td valign="top">
            <h3>Parents</h3>
           
           {% for parent in parents %}
           <p>
               <strong><a href="{% url profiles_profile_detail parent.user %}">{{ parent.user.first_name }} {{ parent.user.last_name }}</a>
                   {% ifequal parent.primary_contact 1 %}
                   <strong> - Primary Contact</strong>
                   {% endifequal %}  
                   <br />
                   
                   {% for pos in parent.board_pos.all %}
                      Board position: {{ pos.title }}<br />
                   {% endfor %}
                                   
               </strong>

               {% if parent.user.email %}
               <a href="mailto:{{ parent.user.email }}">{{ parent.user.email }}</a><br />
               {% endif %}  

               {% if parent.email_2 %}
               <a href="mailto:{{ parent.email_2 }}">{{ parent.email_2 }}</a> (alternate)<br />
               {% endif %}      

               {% if parent.address1 %}
               {{ parent.address1 }}<br />
               {% endif %}

               {% if parent.address2 %}
               {{ parent.address2 }}<br />
               {% endif %}

               {% if parent.city %}
               {{ parent.city }},
               {% endif %}

               {% if parent.state %}
               {{ parent.state }},
               {% endif %}

               {% if parent.zip %}
               {{ parent.zip }}<br />
               {% endif %}

               {% if parent.phone_home %}
               Home: {{ parent.phone_home }}<br />
               {% endif %} 

               {% if parent.phone_work %}
               Work: {{ parent.phone_work }}<br />
               {% endif %}

               {% if parent.phone_mobile %}
               Mobile: {{ parent.phone_mobile }}<br />
               {% endif %} 

               {% if parent.phone_fax %}
               Fax: {{ parent.phone_fax }}<br />
               {% endif %}   

				{% ifequal parent.user.id user.id  %}
				<a href="{% url profiles_edit_profile %}">Edit contact info</a>
				{% endifequal %}

           </p>
           {% endfor %}    
       </td>
       <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
       <td valign="top" >
           <h3>Students</h3>
           
           {% for student in students %}
           <p>
               <strong>{{ student.first_name }} {{ student.last_name }}</strong><br />
               {# {{ student.get_reader_display }}<br /> #}
			   Born: {{ student.birthdate }}<br />

               {% if student.email %}
               <a href="mailto:{{ student.email }}">{{ student.email }}</a><br />
               {% endif %}  

               {% if student.email_2 %}
               <a href="mailto:{{ student.email_2 }}">{{ parent.email_2 }}</a> (alternate)<br />
               {% endif %}
               
              Class of {{ student.expected_grad_yr.end|date:"Y" }}<br />

			{# Only staff or parents of this student can edit the student details #}
			{% if user.get_profile.family == student.family or user.is_staff %}
			<a href="{% url edit_student student.id %}">Edit student<br />	
			{% endif %}
			   

           </p>
           {% endfor %}
       </td>
    </tr>    

</table>



{% endblock content %}