<ul id="navlist2">
<li><a href="{% url roster_families %}">Families</a></li>
<li><a href="{% url roster_parents %}">Parents</a></li>
<li><a href="{% url roster_students_kinder %}">Kindergarten</a></li>
<li><a href="{% url roster_students_1st %}">1st</a></li>
<li><a href="{% url roster_students_2nd %}">2nd</a></li>
<li><a href="{% url roster_students_3rd %}">3rd</a></li>
<li><a href="{% url roster_students_4th %}">4th</a></li>
<li><a href="{% url roster_students_5th %}">5th</a></li>
<li><a href="{% url roster_students %}">All Students</a></li>
<li><a href="{% url roster_jobs %}">Family Jobs</a></li>
<li><a href="{% url roster_board %}">Board Members</a></li>
<li><a href="{% url roster_teachers %}">Teachers</a></li>
</ul>
