<ul id="navlist2">
<li><a href="{% url roster_families %}">Families</a></li>
<li><a href="{% url roster_parents %}">Parents</a></li>
<li><a href="{% url roster_students %}">All Students</a></li>
<li><a href="{% url roster_students_kinder %}">K</a></li>
<li><a href="{% url roster_students_1st %}">1</a></li>
<li><a href="{% url roster_students_2nd %}">2</a></li>
<li><a href="{% url roster_students_3rd %}">3</a></li>
<li><a href="{% url roster_students_4th %}">4</a></li>
<li><a href="{% url roster_students_5th %}">5</a></li>
<li><a href="{% url roster_jobs %}">Family Jobs</a></li>
<li><a href="{% url roster_board %}">Board Members</a></li>
<li><a href="{% url roster_teachers %}">Teachers</a></li>
<li><a href="{% url roster_participators %}">Participators</a></li>
<li><a href="{% url roster_print %}">Print</a></li>
</ul>
