{% load thumbnail %}

<div class="avatar">
    {% if profile.avatar %}
		
		{% thumbnail profile.avatar "200x200" crop="center" as im %}
		    <a href="{% url profiles_profile_detail profile.user %}"><img src="{{im.url}}" width="{{im.width}}" height="{{im.height}}" alt="{{profile}}'s avatar image" /></a>
		{% endthumbnail %}
		
    {% else %}
       <a href="{% url profiles_profile_detail profile.user %}"><img src="/site_media/images/user_default.jpg" width="200" alt="{{profile}}'s avatar image" /></a><br />
    {% endif %}    
</div>
