{% extends "base.html" %}


{% block title %}Profile for {{ user.first_name }} {{ user.last_name }}{% endblock %}

{% block extrahead %}
  <script type="text/javascript" src="/site_media/js/lightbox/js/jquery.lightbox-0.5.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/site_media/js/lightbox/css/jquery.lightbox-0.5.css" media="screen" />
{% endblock extrahead %}

{% block content %}

{% ifequal user profile.user  %}
  <ul id="navlist2">
      <li><a href="{% url profiles_edit_profile %}">Edit my profile</a></li>
      <li><a href="/accounts/password/change/">Change my password</a></li>
      {# For staff/faculty - downloadable PDF timesheet (uploaded via FTP) #}
      {# Only show link if a person is looking at their own profile. #}
      {# {% if profile.has_timesheet %} #}
          {# <li><a href="/media/uploads/timesheets/timesheet_{{user}}.pdf">  Download timesheet as PDF</a></li> #}
      {# {% endif %} #}

  </ul>


{% endifequal %}


<h2>{{ profile.user.first_name }} {{ profile.user.last_name }}</h2>

{# Reusable avatar code #}
{% include 'profiles/avatar.html' %}


{% if profile.family %}
    <h3>In family: <a href="{% url family_contact profile.family.id %}">{{ profile.family }}</a></h3>
{% endif %}

<p><strong>About:</strong><br>
{% if not profile.about %}
    No profile information available.
{% endif %}


{% if profile.about %}
    {{ profile.about|linebreaks }}
{% endif %}
</p>

<p><strong>Primary email:</strong><br>
<a href="mailto:{{ profile.user.email }}">{{ profile.user.email }}</a>
</p>

{% if profile.email_2 %}
<p><strong>Secondary email:</strong><br>
<a href="mailto:{{ profile.email_2 }}">{{ profile.email_2 }}</a>
</p>
{% endif %}

<p><strong>Address:</strong><br>
{% if profile.address1  %}
{{ profile.address1 }}<br />
{% endif %}

{% if profile.address2  %}
{{ profile.address2 }}<br />
{% endif %}

{% if profile.city  %}
{{ profile.city }}, {{ profile.state }} {{ profile.zip }}
{% endif %}


<p><strong>Home phone:</strong><br>
{{ profile.phone_home }}
</p>
<p><strong>Work phone:</strong><br>
{{ profile.phone_work }}
</p>
<p><strong>Mobile phone:</strong><br>
{{ profile.phone_mobile }}
</p>
<p><strong>Twitter:</strong><br>
{% if not profile.twitter %}
    Not available
{% endif %}

{% if profile.twitter %}
    <a href="http://twitter.com/{{ profile.twitter }}">{{ profile.twitter }}</a>
{% endif %}
</p>

<p><strong>Facebook:</strong><br>
{% if not profile.facebook %}
    Not available
{% endif %}

{% if profile.facebook %}
    <a href="http://facebook.com/{{ profile.facebook }}">{{ profile.facebook }}</a>
{% endif %}
</p>

<p><strong>Personal or business URL:</strong><br>
{% if profile.url %}
    <a href="{{ profile.url }}">{{ profile.url_title }}</a>
{% else %}
  Not available
{% endif %}

</p>
{% if profile.fax %}
<p><strong>Fax:</strong><br>
{{ profile.fax }}
</p>
{% endif %}

<p><a href="{% url vcard_single profile.user.username %}"><img src="/site_media/images/vcard.png" width="64" height="64" alt="Vcard"><br />
  Download vCard
  </a>
</p>
{% endblock content %}

