{% extends "base.html" %}

{% block title %}View application{% endblock %}

{% block content %}


<h2>Application for {{app}}</h2>



<p>
	{{app.family}}
</p>

<p>
	{{app.child_last}}
</p>

<p>
	{{app.child_first}}
</p>

<p>
	{{app.appdate}}
</p>

<p>
	{{app.grade}}
</p>

<p>
	{{app.rq_start_date}}
</p>

<p>
	{{app.sex}}
</p>

<p>
	{{app.birthdate}}
</p>

<p>
	{{app.langs}}
</p>





<p>
	{{app.par1_lname}}
</p>

<p>
	{{app.par1_fname}}
</p>

<p>
	{{app.par1_email}}
</p>

<p>
	{{app.par1_address1}}
</p>

<p>
	{{app.par1_address2}}
</p>

<p>
	{{app.par1_city}}
</p>

<p>
	{{app.par1_state}}
</p>

<p>
	{{app.par1_zip}}
</p>

<p>
	{{app.par1_phone_home}}
</p>

<p>
	{{app.par1_phone_work}}
</p>



<p>
	{{app.par2_lname}}
</p>

<p>
	{{app.par2_fname}}
</p>

<p>
	{{app.par2_email}}
</p>

<p>
	{{app.par2_address1}}
</p>

<p>
	{{app.par2_address2}}
</p>

<p>
	{{app.par2_city}}
</p>

<p>
	{{app.par2_state}}
</p>

<p>
	{{app.par2_zip}}
</p>

<p>
	{{app.par2_phone_home}}
</p>

<p>
	{{app.par2_phone_work}}
</p>



<p>
	{{app.living}}
</p>

<p>
	{{app.cur_school}}
</p>

<p>
	{{app.cur_grade}}
</p>

<p>
	{{app.cur_school_addr}}
</p>

<p>
	{{app.cur_school_phone}}
</p>

<p>
	{{app.cur_teacher}}
</p>



<p>
	{{app.prev_school1}}
</p>

<p>
	{{app.prev_school1_phone}}
</p>

<p>
	{{app.prev_school1_dates}}
</p>



<p>
	{{app.prev_school2}}
</p>

<p>
	{{app.prev_school2_phone}}
</p>

<p>
	{{app.prev_school2_dates}}
</p>



<p>
	{{app.prev_school3}}
</p>

<p>
	{{app.prev_school3_phone}}
</p>

<p>
	{{app.prev_school3_dates}}
</p>



<p>
	{{app.describe_play}}
</p>

<p>
	{{app.describe_special}}
</p>

<p>
	{{app.describe_needs}}
</p>

<p>
	{{app.describe_circumstances}}
</p>

<p>
	{{app.describe_seeking}}
</p>

<p>
	{{app.describe_contribution}}
</p>



<p>
	{{app.heard_about}}
</p>



<p>
	{{app.avatar}}
</p>





<p>
	{{app.notes}}
</p>

<p>
	{{app.accepted}}
</p>
}}
</p>

{% endblock content %}