{% extends "base.html" %}
{% load thumbnail %}

{% block title %}View application{% endblock %}

{% block content %}

<style type="text/css" media="screen">
	h3 {
		font-size:1.0em;
/*		margin-bottom:-10px;*/
	}
	
	fieldset {
		width:800px;
		margin-top:20px;
	}
	
	textarea {
		width:500px;
		height:200px;
	}
</style>

<h2>Application for {{app}}</h2>

<p><a href="#summary">Jump to Summary</a> | <a href="{% url process_apps %}">Return to Applications</a></p>

<h3>Photo</h3>

<div class="avatar">
    {% if app.avatar %}
			<a href="/media/{{app.avatar}}" class="lightbox"><img src="{% thumbnail app.avatar 200x200%}" alt="{{app}}'s avatar image" /></a>
    {% else %}
       <img src="{{STATIC_URL}}images/user_default.jpg" width="200" alt="{{profile}}'s avatar image" /><br />
    {% endif %}    
</div>

<fieldset>
	<legend>Application Status</legend>
	
	{# <p>Attended tour: <strong>{{app.attended_tour}}</strong></p>				 #}
	{# <p>Application fee paid? <strong>{{app.fee_paid|yesno:"Yes,No"}}</strong></p> #}
	{# <p>Offer letter sent? <strong>{{app.sent_offer_letter|yesno:"Yes,No"}}</strong></p>	 #}
	{# <p>Eval letter sent? <strong>{{app.sent_eval_letter|yesno:"Yes,No"}}</strong></p>		 #}
	{# <p>Evaluation date: <strong>{{app.eval_date}}</strong></p> #}
	
	<table>
	    <tr>
	        <th>Grade</th>
	        <th>Ethnicity</th>
	        <th>App. Date</th>
	 		<th>Sent Eval</th>	
	        <th>Eval Date</th>
	 		<th>Sent Offer</th>
	 		<th>Tour</th>
	        <th>Rec. Form</th>
	        <th>Paid</th>        
	        <th>Status</th>
	    </tr>


	    <tr>
	        <td>{{app.grade}}</td>
	        <td>{{app.ethnicity}}</td>
	        <td>{{app.appdate|date:"M d"}}</td> 
	        <td class="small">{% if app.sent_eval_letter %}<img src="{{STATIC_URL}}images/icon_success.gif" width="16" height="16" alt="Icon Success">{% endif %}</td> 

	        <td>{{app.eval_date|date:"M d"}}</td> 

	        <td class="small">{% if app.sent_offer_letter %}<img src="{{STATIC_URL}}images/icon_success.gif" width="16" height="16" alt="Icon Success">{% endif %}</td> 
	        <td class="small">{% if app.attended_tour %}<img src="{{STATIC_URL}}images/icon_success.gif" width="16" height="16" alt="Icon Success">{% endif %}</td> 

	        <td class="small">{% if app.teacher_rec_form %}<img src="{{STATIC_URL}}images/icon_success.gif" width="16" height="16" alt="Icon Success">{% endif %}</td>
	        <td class="small">{% if app.fee_paid %}<img src="{{STATIC_URL}}images/icon_success.gif" width="16" height="16" alt="Icon Success">{% endif %}</td>
	        <td class="small">
				{% if app.status == '1' %}<img src="{{STATIC_URL}}images/icon_success.gif" width="16" height="16" alt="Icon Success">{% endif %}
				{% if app.status == '4' %}<img src="{{STATIC_URL}}images/hourglass_add.png" width="16" height="16" alt="Icon Alert">{% endif %}			
				{% if app.status == '2' %}<img src="{{STATIC_URL}}images/icon_error.gif" width="16" height="16" alt="Icon Error">{% endif %}			
			</td>
	    </tr>


	</table>	
	<p>Teacher rec form: 
		{% if app.teacher_rec_form %}
			Yes - <a href="/media/{{app.teacher_rec_form}}">click to view</a> 
		{% else %}
			<strong>None</strong>
		{% endif %}
	</p>			
	

<form action="" method="post" accept-charset="utf-8" id="appedit">
	{% csrf_token %}
	
	{{form.as_p}}
	
	<p><input type="submit" value="Save"></p>
</form>

{% if app.ready_for_offer %}
<p><a href="{% url app_send_offer app.id %}">Send Offer Letter</a> </p>
{% else %}
<p>Not ready for offer letter or offer letter already sent.</p>
{% endif %}

{% if not app.sent_eval_letter %}
	<a href="{% url app_send_eval app.id %}">Send evaluation letter</a>
{% else %}
	<p>Evaluation letter already sent.</p>
{% endif %}

</fieldset>

<a name="summary"></a>
<h3>Family</h3>
<p>
	{% if app.family %}
	{{app.family}}
	{% else %}
	New Family
	{% endif %}

</p>


<h3>Application date:</h3>
<p>
	{{app.appdate}}
</p>

<h3>Grade and Requested start date</h3>
<p>
	{{app.get_grade_display}} :: 
	{{app.rq_start_date}}
</p>



<h3>Sex</h3>
<p>
	{{app.get_sex_display}}
</p>

<h3>Birthdate</h3>
<p>
	{{app.birthdate}}
</p>

<h3>Languages</h3>
<p>
	{{app.langs}}
</p>

<h3>Ethnicity</h3>
<p>
	{{app.ethnicity}}
</p>




<h3>Parent 1</h3>
<p>
	{{app.par1_fname}} {{app.par1_lname}}<br />

	<a href="mailto:{{app.par1_email}}">{{app.par1_email}}</a><br />
	{{app.par1_address1}},
	{{app.par1_address2}}<br />
	{{app.par1_city}},
	{{app.par1_state}}
	{{app.par1_zip}}<br />
	h: {{app.par1_phone_home}}<br />
	w: {{app.par1_phone_work}}<br />
</p>

<h3>Parent 1</h3>
<p>
	{{app.par2_fname}} {{app.par2_lname}}<br />

	<a href="mailto:{{app.par2_email}}">{{app.par2_email}}</a><br />
	{{app.par2_address1}},
	{{app.par2_address2}}<br />
	{{app.par2_city}},
	{{app.par2_state}}
	{{app.par2_zip}}<br />
	h: {{app.par2_phone_home}}<br />
	w: {{app.par2_phone_work}}<br />
</p>






<h3>Current School</h3>
<p>
	School {{app.cur_school}}<br />
	Grade: {{app.cur_grade}}<br />
	Addr: {{app.cur_school_addr}}<br />
	Phone: {{app.cur_school_phone}}<br />
	Teacher: {{app.cur_teacher}}
</p>


<h3>Previous School 1</h3>
<p>
	School: {{app.prev_school1}}<br />
	Phone: {{app.prev_school1_phone}}<br />
	Dates: {{app.prev_school1_dates}}
</p>

<h3>Previous School 2</h3>
<p>
	School: {{app.prev_school2}}<br />
	Phone: {{app.prev_school2_phone}}<br />
	Dates: {{app.prev_school2_dates}}
</p>

<h3>Previous School 3</h3>
<p>
	School: {{app.prev_school3}}<br />
	Phone: {{app.prev_school3_phone}}<br />
	Dates: {{app.prev_school3_dates}}
</p>






<h3>Living</h3>
<p>
	{{app.living|linebreaks}}
</p>

<h3>Play</h3>
<p>
	{{app.describe_play|linebreaks}}
</p>

<h3>What is Special About Your Child?</h3>
<p>
	{{app.describe_special|linebreaks}}
</p>

<h3>Special Needs</h3>
<p>
	{{app.describe_needs|linebreaks}}
</p>

<h3>Special Circumstances</h3>
<p>
	{{app.describe_circumstances|linebreaks}}
</p>

<h3>Seeking</h3>
<p>
	{{app.describe_seeking|linebreaks}}
</p>

<h3>Expected Contributions</h3>
<p>
	{{app.describe_contribution|linebreaks}}
</p>


<h3>Heard About</h3>
<p>
	{{app.get_heard_about_display}}
</p>


{% if app.heard_about_other %}
	<h3>Other Referral</h3>
	<p>If they selected "other" in Referral dropdown:</p>
	<p>
		{{app.heard_about_other}}
	</p>
{% endif %}







{% endblock content %}