{% extends "base.html" %}

{% block title %}Process applications{% endblock %}

{% block content %}

<style type="text/css" media="screen">
	td.small {
		text-align:center;
	}

	/*	This shouldn't be necessary to get button text color working right, but it does... */
	a.button {
		color:#EEE;
	}
</style>


<h2>Applications</h2>

<p><a href="/admin/apply/application/" title="Our Crestmont - Log In / Log Out">View/sort applications</a> by grade or evaluation date.</p>

<table>
    <tr>
        <th>Child</th>
        <th>Grade</th>
        <th>Ethnicity</th>
        <th>App. Date</th>
 		<th>Sent Eval</th>
        <th>Eval Date</th>
 		<th>Sent Offer</th>
 		<th>Tour</th>
        <th>Rec. Form</th>
        <th>Paid</th>
        <th>Status</th>
        <th>Intake</th>
    </tr>

    {% for app in apps  %}
    <tr class="{% cycle 'row1' 'row2' %}">
        <td><a href="{% url app_detail app.id %}">{{app.child_last}}, {{app.child_first}}</a></td>
        <td>{{app.grade}}</td>
        <td>{{app.ethnicity}}</td>
        <td>{{app.appdate|date:"M d"}}</td>
        <td class="small">{% if app.sent_eval_letter %}<img src="{{STATIC_URL}}images/icon_success.gif" width="16" height="16" alt="Icon Success">{% endif %}</td>
        <td>{{app.eval_date|date:"M d"}}</td>

        <td class="small">{% if app.sent_offer_letter %}<img src="{{STATIC_URL}}images/icon_success.gif" width="16" height="16" alt="Icon Success">{% endif %}</td>
        <td class="small">{% if app.attended_tour %}<img src="{{STATIC_URL}}images/icon_success.gif" width="16" height="16" alt="Icon Success">{% endif %}</td>

        <td class="small">{% if app.teacher_rec_form %}<img src="{{STATIC_URL}}images/icon_success.gif" width="16" height="16" alt="Icon Success">{% endif %}</td>
        <td class="small">{% if app.fee_paid %}<img src="{{STATIC_URL}}images/icon_success.gif" width="16" height="16" alt="Icon Success">{% endif %}</td>
        <td class="small">
			{% if app.status == '1' %}<img src="{{STATIC_URL}}images/icon_success.gif" width="16" height="16" alt="Icon Success">{% endif %}
			{% if app.status == '4' %}<img src="{{STATIC_URL}}images/hourglass_add.png" width="16" height="16" alt="Icon Alert">{% endif %}
			{% if app.status == '2' %}<img src="{{STATIC_URL}}images/icon_error.gif" width="16" height="16" alt="Icon Error">{% endif %}
		</td>
        <td class="small">{% if app.intake_complete %}<img src="{{STATIC_URL}}images/icon_success.gif" width="16" height="16" alt="Icon Success">{% endif %}</td>

    </tr>
    {% endfor %}

</table>

<p>
	<strong>Status:</strong><br />
	Accepted: <img src="{{STATIC_URL}}images/icon_success.gif" width="16" height="16" alt="Icon Success"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	Waitlist: <img src="{{STATIC_URL}}images/hourglass_add.png" width="16" height="16" alt="Icon Alert"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	Rejected: <img src="{{STATIC_URL}}images/icon_error.gif" width="16" height="16" alt="Icon Error">
</p>

<p><a href="{% url show_addrs %}" class="button blue small">Retrieve applicant emails and addresses</a></p>

{% endblock content %}