{% extends "base.html" %}

{% block title %}Process applications{% endblock %}

{% block content %}


<h2>Pending Applications</h2>

<table>
    <tr>
        <th>Child</th>
        <th>Grade</th>
        <th>App. Date</th>        
    </tr>
    {% for app in pending  %}
    <tr class="{% cycle 'row1' 'row2' %}">
        <td><a href="{% url app_detail app.id %}">{{app.child_last}}, {{app.child_first}}</a></td>
        <td>{{app.get_grade_display}}</td>
        <td>{{app.appdate}}</td>        
    </tr>
    {% endfor %}    

</table>


<h2>Accepted Applications</h2>

<table>
    <tr>
        <th>Child</th>
        <th>Grade</th>
        <th>App. Date</th>        
    </tr>
    {% for app in accepted  %}
    <tr class="{% cycle 'row1' 'row2' %}">
        <td>{{app.child_last}}, {{app.child_first}}</td>
        <td>{{app.get_grade_display}}</td>
        <td>{{app.appdate}}</td>        
    </tr>
    {% endfor %}    

</table>


<h2>Rejected Applications</h2>

<table>
    <tr>
        <th>Child</th>
        <th>Grade</th>
        <th>App. Date</th>        
    </tr>
    {% for app in rejected  %}
    <tr class="{% cycle 'row1' 'row2' %}">
        <td>{{app.child_last}}, {{app.child_first}}</td>
        <td>{{app.get_grade_display}}</td>
        <td>{{app.appdate}}</td>        
    </tr>
    {% endfor %}    

</table>







{% endblock content %}